auto-save-list
.session
.dap-breakpoints
emms/history
.cask
elpa
anaconda-mode
company-statistics-cache.el
.cache/
recentf
eln-cache
/bin/
/tutorial/
/server/
projects
/quelpa/
librime
transient/history.el
places
/.mc-lists.el
/semanticdb/
/url/
amx-items
company-statistics-cache.el
projectile-bookmarks.eld
tramp
/.lsp-session-v1
/org-roam.db
/.org-id-locations
/bookmarks
/persp-confs/
eshell/history
eshell/lastdir
tabsession.el
elixir-ls
/nov-places
pyim/dcache/
/tree-sitter/
